html {
	font-family: $gill;
}

body {
	margin: 0;
	width: 100%;
	background-color: $yellow;
	font-family: $gill;
}

.container {
	header {
		margin: 0 auto;
		padding: 2em;
		font-size: 1.5em;
		line-height: 1;
		text-align: center;
		h1 {
			margin: 0;
			color: $white;
			font-weight: lighter;
			text-transform: uppercase;
		}
	}
	p {
		margin: 0 auto;
		text-align: center;
	}
}

.btn {
	@include button($brown);
}